@import url("./header.css");
@import url("./create-product.css");
@import url("./button.css");

:root {
  --fundo:#ededed;
  --branco:#fff;
  --preto:#000;
  --azul:#0f1726;
  --verde:#33cdac;
  --verde-hover: #30b396;
  --cinza: #4a6280;
  --cinza-claro: #ababab;
}



body {

}

